.about {
	display: flex;
	flex-direction: column;
	align-items: center;

	grid-column: 2 / -2;
	grid-row: 3 / 4;

	text-align: center;
	&__title {
		margin-top: 2rem;
		text-transform: uppercase;
		color: $color-grey-2;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			bottom: -2rem;
			left: 25%;
			width: 50%;
			height: 5px;
			background-color: $color-primary;
		}
	}
}