.navbar {
	position: absolute;
	top: 100vh;
	left: 0;
	width: 100%;
	height: 4rem;
	z-index: 2;

	display: flex;
	justify-content: flex-end;
	align-items: center;

	background-color: $color-primary;

	&.stick {
		position: fixed;
		top: 0;
	}

	&__list {
		display: flex;
		list-style: none;
		margin-right: 2rem;
		transition: opacity 0.3s;

		&.hidden {
			opacity: 0;
		}

		&__item {
			color: $color-grey-1;
			font-size: 1.4rem;
			padding: 0.5rem;
			border-radius: 1rem;
			font-weight: 400;
			text-transform: uppercase;
			position: relative;
			transition: background-color 0.3s;

			&:hover {
				background-color: $color-primary-dark;
			}

			&:not(:last-child) {
				margin-right: 2rem;
			}
		}
	}
}
