$color-primary: #26c485;
$color-primary-dark: #21ab74;
$color-secondary: #3a606e;

$color-error: #d06262;

$color-grey-light-1: #fdfffc;
$color-grey-light-2: #c2c2c1;

$color-grey-dark-1: #72767f;
$color-grey-dark-2: #393e41;
$color-grey-dark-3: #2f3437;
$color-grey-dark-4: #26292c;

$font-primary: 'Lato', sans-serif;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px
	scrollbar-color: $color-primary $color-grey-dark-2;
	scrollbar-width: auto;
}

body {
	font-family: $font-primary;
	font-weight: 300;
	line-height: 1.6;
	position: relative;
}

@media only screen and (max-width: 1000px) {
	html {
		font-size: 43.75%;
	}
}

/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: $color-grey-dark-2;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $color-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $color-primary-dark;
}
