ul {
	list-style: none;
}

input {
	border: none;
	border-bottom: 3px solid $color-grey-light-2;

	outline: none;
	background-color: transparent;

	&:invalid {
		box-shadow: none;
	}
}

textarea {
	padding: 0.2rem 1rem;
	border: none;
	overflow: auto;
	outline: none;
	resize: none;

	font-family: $font-primary;
	font-size: 1.8rem;

	&:invalid {
		box-shadow: none;
	}
}

button {
	width: 20rem;
	height: 5rem;

	cursor: pointer;
	border: none;
	outline: none;

	color: $color-grey-light-1;
}
