ul {
	list-style: none;
}

input {
	border: none;

	outline: none;
	background-color: transparent;

	&:invalid {
		box-shadow: none;
	}
}

textarea {
	padding: 0.2rem 1rem;
	border: none;
	overflow: auto;
	outline: none;
	resize: none;

	font-family: $font-primary;
	font-size: 1.8rem;

	&:invalid {
		box-shadow: none;
	}
}

button {
	cursor: pointer;
	border: none;

	height: 5rem;
	border-radius: 1rem;

	color: var(--color-grey-light-1);
}
