h1 {
	font-size: 6rem;
	padding: 0;
	margin: 0;
	line-height: 100%;
}

h2 {
	font-size: 4rem;
	padding: 0;
	margin: 0;
	line-height: 100%;
}

h3 {
	font-size: 3rem;
	padding: 0;
	margin: 0;
	line-height: 100%;
}

h4 {
	font-size: 2rem;
	padding: 0;
	margin: 0;
	line-height: 100%;
}

p {
	font-size: 1.6rem;
}

.text--light {
	color: $color-grey-light-1;
}

.text--primary {
	color: $color-primary;
}
