@mixin section-blueprint {
	padding: 4rem 15%;

	@media screen and (max-width: $bp-s) {
		padding: 4rem 2rem;
	}

	border-top: 0.5rem solid var(--color-primary);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	transition: background 500ms ease-in-out;

	&__title {
		position: relative;
		margin-bottom: 7rem;

		text-transform: uppercase;
		letter-spacing: 0.3rem;
		text-align: center;

		&::after {
			content: '';

			position: absolute;
			left: 50%;
			bottom: -3rem;
			width: 8rem;
			height: 0.7rem;
			transform: translateX(-50%);

			background-color: var(--color-primary);
		}
	}

	&__description {
		width: 95%;
		margin-bottom: 2rem;

		text-align: center;
		line-height: 1.6;
	}
}
