.about {
	@include section-blueprint;

	background-color: var(--color-bg-1);

	&__content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 5rem;

		align-items: center;
		justify-items: center;
	}

	&__image {
		width: 100%;
		height: auto;

		transition: transform 0.3s;

		&:hover {
			transform: scale(1.02);
		}
	}

	&__text {
		margin-bottom: 3rem;
	}
}

@media screen and (max-width: 1200px) {
	.about__content {
		grid-template-columns: 100%;
	}

	.about__image {
		width: 50%;
		margin-right: 0;
	}

	.about__text {
		text-align: center;
	}
}

.resume-btn {
	cursor: pointer;

	border-radius: 1rem;

	width: 25rem;
	height: 5rem;

	display: flex;
	align-items: center;
	justify-content: center;
	grid-column: 1 / -1;

	color: var(--color-grey-light-1);
	font-weight: bold;
	font-size: 2rem;
	text-decoration: none;

	background-color: var(--color-primary);
	transition: background 0.3s ease-in-out;

	&:hover {
		background-color: var(--color-primary-dark);
	}
}
