.contact {
	@include section-blueprint;

	background-color: $color-grey-dark-2;

	&__form {
		width: 80%;
		margin-top: 2rem;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		label {
			position: absolute;
			top: 0rem;
			left: 1rem;

			color: $color-grey-light-2;
			font-size: 2rem;

			transition: all 0.2s ease;

			&.raised {
				top: -2.5rem;

				color: $color-primary;
				font-size: 1.6rem;

				&.error {
					color: $color-error;
				}
			}
		}

		input#name,
		input#email {
			width: 100%;
			height: 4rem;
			padding: 0 1rem;
			border-bottom: 3px solid $color-grey-light-2;

			color: $color-grey-light-2;
			font-size: 2rem;

			&:focus {
				border-color: $color-primary;
			}

			&:invalid.visited {
				border-color: $color-error;
			}
		}

		textarea#message {
			width: 100%;
			border: 3px solid;

			color: $color-grey-dark-3;

			background-color: $color-grey-light-1;

			&:focus {
				border-color: $color-primary;
			}

			&:invalid.visited {
				border-color: $color-error;
			}
		}

		label[for='message'] {
			color: $color-grey-dark-3;

			&.raised {
				color: $color-primary;

				&.error {
					color: $color-error;
				}
			}
		}

		button[type='submit'] {
			display: flex;
			align-items: center;
			justify-content: center;
			align-self: center;

			font-size: 2rem;

			background-color: $color-primary;

			transition: background-color 0.2s;

			ion-icon {
				margin-left: 2rem;
			}

			&:hover {
				background-color: $color-primary-dark;
			}
		}
	}

	&__container {
		position: relative;
		width: 100%;
		margin-bottom: 4rem;
	}
}
