.contact {
	background-color: var(--color-bg-3);

	&__flex {
		display: flex;
		width: 100%;
	}

	&__info__container {
		background-color: var(--color-bg-2);
		margin-right: 4rem;
		margin-top: 2rem;
		border-radius: 1rem;

		display: flex;
		flex-direction: column;
		padding: 3rem;
	}

	&__form {
		flex: 1;
		margin-top: 2rem;
		padding: 3rem;
		padding-top: 4rem;
		border-radius: 1rem;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		background-color: var(--color-bg-2);

		@media screen and (max-width: $bp-s) {
			width: 100%;
		}

		button[type='submit'] {
			width: 20rem;

			display: flex;
			align-items: center;
			justify-content: center;
			align-self: center;

			font-size: 2rem;

			background-color: var(--color-primary);

			transition: background-color 0.2s;
			svg {
				height: 2.3rem;
				width: 2.3rem;
				margin-left: 2rem;

				fill: var(--color-grey-light-1);
			}

			&:hover {
				background-color: var(--color-primary-dark);
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.contact__flex {
		flex-direction: column;
	}

	.contact__info__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
		gap: 2rem;
		margin-right: 0;
	}

	.contact__info {
		&:not(:last-child) {
			margin: 0;
		}
	}
}
