.footer {
	height: 15rem;
	padding: 2rem 10%;

	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: repeat(2, 1fr);
	align-items: center;

	background-color: $color-grey-dark-4;

	&__navbar {
		display: flex;

		&__item {
			color: $color-grey-dark-1;
			text-transform: uppercase;
			letter-spacing: 0.15rem;
			font-size: 1.6rem;

			transition: color 0.3s;

			&:hover {
				color: $color-primary;
			}

			&:not(:last-child) {
				margin-right: 3rem;
			}
		}
	}

	&__social-media {
		display: flex;
		align-items: center;
		justify-self: end;
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;

		color: $color-grey-dark-1;
		font-size: 3rem;
		text-decoration: none;

		transition: color 0.2s ease;

		&:hover {
			color: $color-primary;
		}

		&:not(:last-child) {
			margin-right: 1rem;
		}
	}

	&__copyright {
		color: $color-grey-dark-1;
		font-size: 1.4rem;
	}
}
