.footer {
	padding: 2rem 10%;

	display: grid;
	grid-template-columns: 1fr max-content;
	grid-template-rows: repeat(2, 1fr);
	align-items: center;

	background-color: var(--color-bg-1);

	&__navbar {
		display: flex;

		&__item {
			color: var(--color-grey-dark-1);
			text-transform: uppercase;
			letter-spacing: 0.15rem;
			font-size: 1.6rem;

			transition: color 0.3s;

			&:hover {
				color: var(--color-primary);
			}

			&:not(:last-child) {
				margin-right: 3rem;
			}
		}
	}

	&__social-media {
		grid-column: 2 / -1;
		grid-row: 1 / 2;
		display: flex;
		align-items: center;
		justify-self: end;
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;

		fill: var(--color-grey-dark-1);
		text-decoration: none;

		transition: fill 0.2s ease;

		&:hover {
			fill: var(--color-primary);
		}

		&:not(:last-child) {
			margin-right: 1rem;
		}

		svg {
			width: 3rem;
			height: 3rem;
		}
	}

	&__copyright {
		grid-column: 1 / 2;
		grid-row: 2 / -1;

		color: var(--color-grey-dark-1);
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 700px) {
	.footer {
		padding: 2rem 2rem;
		height: 22rem;
		align-items: flex-start;
	}

	.footer__navbar {
		flex-direction: column;
		grid-row: 1 / -1;
	}

	.footer__copyright {
		grid-column: 2 / -1;
	}
}
