.header {
	position: relative;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	// Url must be relative to the entry file
	background: linear-gradient(#00000088, #00000088), url('../assets/header.jpg');
	background-position: center;
	background-size: cover;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;

		// Add bottom margin to all but the last child
		& > *:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&__name:hover {
		animation: color-rotate 2s ease-in-out infinite;
	}

	&__btn {
		margin-top: 2rem;
		padding: 0 0.5rem;

		display: flex;
		align-items: center;
		justify-content: space-between;
		align-self: center;

		font-size: 2rem;
		color: $color-grey-light-1;
		background-color: $color-primary;
		border-radius: 2.5rem;

		transition: background-color 0.3s;

		&__text {
			margin-left: 3.5rem;
		}

		&__icon {
			height: 4rem;
			width: 4rem;
			transition: transform 0.3s;
		}
	}

	&__btn:hover {
		background-color: $color-primary-dark;

		ion-icon {
			transform: rotate(90deg);
		}
	}
}

@keyframes color-rotate {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}
