.header {
	height: 100vh;
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--color-bg-1);
	transition: background-color 0.3s ease-in-out;

	&__initial {
		position: absolute;
		left: 15%;
		width: 70%;
		bottom: 5%;
		&--top {
			transform: translateY(-15%);
			backface-visibility: hidden;
			transition: transform 0.5s ease-in-out;
		}
	}

	&__title {
		padding: 0 3rem;
		color: var(--color-grey-light-1);
	}

	h2.header__title {
		font-weight: lighter;
		font-size: 3rem;
		height: 4rem;
	}

	&__name {
		color: var(--color-primary);
	}

	&__content {
		z-index: 2;

		background-color: var(--color-header);
		padding: 2rem;
		border-radius: 2rem;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;

		// Add bottom margin to all but the last child
		& > *:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&__name:hover {
		animation: color-rotate 2s ease-in-out infinite;
	}

	&__btn {
		width: 20rem;
		margin-top: 2rem;
		padding: 0 0.5rem;

		display: flex;
		align-items: center;
		justify-content: space-between;
		align-self: center;

		font-size: 2.1rem;

		background-color: var(--color-primary);

		transition: background-color 0.3s;

		&__text {
			margin-left: 2.5rem;
		}

		&__icon {
			height: 4rem;
			width: 4rem;

			fill: var(--color-grey-light-1);

			transition: transform 0.3s;
		}
	}

	&__btn:hover {
		background-color: var(--color-primary-dark);

		.header__btn__icon {
			transform: rotate(90deg);
		}
	}
}

@keyframes color-rotate {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}
