.projects {
	@include section-blueprint;

	background-color: var(--color-bg-1);

	&__content {
		width: 100%;
	}

	&__project {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 8rem;
		position: relative;

		&:not(:last-child)::after {
			content: '';

			position: absolute;
			left: 50%;
			width: 80%;
			bottom: -2rem;
			height: 0.2rem;
			transform: translateX(-50%);

			background-color: var(--color-grey-dark-2);
		}

		&__mockup {
			width: 90%;

			&__container {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-basis: 50%;
			}
		}

		&__content {
			flex-basis: 50%;
			padding: 2rem;
		}

		&__head {
			display: flex;
			align-items: center;
			margin-bottom: 2rem;
		}

		&__logo {
			width: 5rem;
			margin-right: 2rem;
		}

		&__buttons {
			width: 100%;
			margin-top: 4rem;

			display: flex;
			justify-content: start;
		}

		&__tech {
			// This filter turns the image to the primary color, credit to https://codepen.io/sosuke/pen/Pjoqqp
			filter: brightness(0) saturate(100%) invert(62%) sepia(15%) saturate(2134%)
				hue-rotate(104deg) brightness(102%) contrast(79%);
			height: 3rem;
			width: auto;
			margin-bottom: 3rem;

			&:hover {
				filter: none;
			}

			&:not(:last-child) {
				margin-right: 1rem;
			}
		}

		&__link {
			width: 18rem;
			height: 4rem;
			padding: 0 1.5rem;
			border-radius: 5px;

			display: flex;
			justify-content: center;
			align-items: center;

			color: var(--color-grey-light-1);
			font-size: 1.8rem;
			font-weight: bold;
			text-decoration: none;
			transition: background-color 0.2s ease-in-out;

			&:not(:last-child) {
				margin-right: 2rem;
			}

			&__icon {
				height: 2.3rem;
				width: 2.3rem;
				margin-left: 1rem;
				fill: var(--color-grey-light-1);
			}

			&--demo {
				background-color: var(--color-primary);

				&:hover {
					background-color: var(--color-primary-dark);
				}

				&--disabled {
					cursor: not-allowed;
					filter: brightness(0.5);

					&:hover {
						background-color: var(--color-primary);
					}
				}
			}

			&--code {
				background-color: #111111;

				&:hover {
					background-color: #000000;
				}
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	.projects__project {
		&__mockup {
			width: 50%;

			&__container {
				height: auto;
				flex-basis: 100%;
			}
		}

		&__content {
			flex-basis: 100%;
			height: auto;
		}
	}
}
