$color-primary: #26c485;
$color-primary-dark: #21ab74;
$color-secondary: #3a606e;

$color-grey-light-1: #fdfffc;
$color-grey-light-2: #c2c2c1;

$color-grey-dark-1: #72767f;
$color-grey-dark-2: #393e41;
$color-grey-dark-3: #26292c;

$font-primary: 'Lato', sans-serif;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px
	scroll-behavior: smooth;
}

body {
	font-family: $font-primary;
	font-weight: 300;
	line-height: 1.6;
	position: relative;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100vh 100vh min-content 100vh 100vh;
}
