ul {
	list-style: none;
}

input {
	background-color: transparent;
	border-bottom: 3px solid $color-grey-light-2;
	border: none;
	outline: none;

	&:invalid {
		box-shadow: none;
	}
}

textarea {
	font-family: $font-primary;
	font-size: 1.8rem;
	padding: 0.2rem 1rem;
	border: none;
	overflow: auto;
	outline: none;
	resize: none;

	&:invalid {
		box-shadow: none;
	}
}

button {
	border: none;
	outline: none;
}
