.skills {
	background-color: $color-grey-dark-1;

	grid-row: 3 / 4;
	grid-column: 1 / -1;
	@include section-blueprint;

	&__container {
		display: grid;
		width: 70%;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		grid-auto-rows: 1fr;
		gap: 5rem;

		&::before {
			content: '';
			width: 0;
			padding-bottom: 100%;
			grid-column: 1 / 1;
			grid-row: 1 / 1;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 2rem;

		color: $color-grey-light-1;

		&:first-child {
			grid-column: 1 / 1;
			grid-row: 1 / 1;
		}

		background-color: $color-grey-dark-2;
	}
}

.skill {
	&__description {
		font-size: 1.4rem;
		text-align: center;
	}
}
