.skills {
	background-color: $color-grey-dark-2;
	@include section-blueprint;

	&__categories {
		display: flex;
		align-self: flex-start;

		width: 50rem;

		padding: 1rem 0;
		position: relative;

		&.category-1::after {
			left: 0;
		}

		&.category-2::after {
			left: 25%;
		}

		&.category-3::after {
			left: 50%;
		}

		&.category-4::after {
			left: 75%;
		}

		&::after {
			content: '';
			position: absolute;
			height: 5px;
			width: 25%;
			bottom: -4px;
			left: 0;
			background-color: $color-primary;
			transition: left 0.3s ease;
		}
	}

	&__category {
		color: $color-grey-light-1;
		font-size: 1.6rem;
		font-weight: bold;
		width: 25%;
		text-align: center;

		transition: color 0.2s ease;

		&.selected,
		&:hover {
			color: $color-primary;
		}
	}

	&__container {
		display: flex;
		width: 100%;
		overflow-x: hidden;
		background-color: $color-grey-dark-4;
	}

	&__page {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		grid-auto-rows: 1fr;
		gap: 5rem;
		padding: 5rem;
		flex: 0 0 100%;
	}

	&__item {
		display: flex;
		align-items: center;
		position: relative;

		height: 14rem;
		padding: 4rem;

		color: $color-grey-light-1;
		background-color: $color-grey-dark-3;

		&:before {
			content: '';
			width: 0.5rem;
			height: 0;
			position: absolute;
			top: 0;
			left: 0;
			background-color: $color-primary;
			transition: height 0.2s ease;
		}

		&:hover:before {
			height: 100%;
		}
	}
}

.skill {
	&__image {
		height: 6rem;
		width: auto;
		margin-right: 3rem;
	}
}

@media only screen and (max-width: 700px) {
	.skills__categories {
		width: 100%;
	}
}
