.navbar--mobile {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	background-color: rgba($color: $color-grey-dark-3, $alpha: 0.9);

	.navbar__icon {
		margin: 1rem 3rem 1rem 0;
		align-self: flex-end;
		font-size: 4rem;
		color: $color-grey-light-1;
		transition: color 0.2s ease, transform 0.3s ease;

		&:hover {
			color: $color-primary;
		}
	}

	.navbar__item {
		transition: height 0.3s, opacity 0.1s;
		overflow: hidden;

		display: flex;
		justify-content: center;
		align-items: center;

		position: relative;

		color: $color-grey-light-1;
		font-size: 1.6rem;
		font-weight: bold;
	}

	&.hidden {
		.navbar__item {
			height: 0;
			opacity: 0;
		}
	}

	&:not(.hidden) {
		.navbar__icon {
			transform: rotate(-90deg);
		}

		.navbar__list {
			display: flex;
			flex-direction: column;
			align-items: stretch;
		}

		.navbar__item {
			height: 4rem;

			background-color: rgba($color: $color-grey-dark-3, $alpha: 0.9);
			border-bottom: 1px solid $color-grey-dark-2;

			span {
				display: block;
				position: relative;
				z-index: 3;
			}

			&:after {
				content: '';
				height: 100%;
				width: 0;
				position: absolute;
				top: 0;
				left: 0;
				background-color: $color-primary;
				transition: width 0.5s ease;
				z-index: 0;
			}

			&:hover {
				&:after {
					width: 100%;
				}
			}
		}
	}
}
