.navbar--mobile {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;

	.navbar__icon {
		margin: 1rem 3rem 1rem 0;
		align-self: flex-end;
		font-size: 4rem;
		transition: color 0.2s ease, transform 0.3s ease;

		&:hover {
			color: var(--color-primary);
		}
	}

	.navbar__item {
		position: relative;
		overflow: hidden;

		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 1.6rem;
		font-weight: bold;

		transition: height 0.3s, opacity 0.1s;
	}

	&.hidden {
		.navbar__item {
			height: 0;
			opacity: 0;
		}
	}

	&:not(.hidden) {
		.navbar__icon {
			transform: rotate(-90deg);
		}

		.navbar__list {
			display: flex;
			flex-direction: column;
			align-items: stretch;
		}

		.navbar__item {
			height: 4rem;
			border-bottom: 1px solid $color-grey-dark-2;

			background-color: rgba($color: $color-grey-dark-3, $alpha: 0.9);

			// This styling is to ensure that the text in the navbar item isn't
			// covered by the ::after pseudo element on hover
			span {
				position: relative;
				z-index: 3;

				display: block;
			}

			&:after {
				content: '';

				position: absolute;
				width: 0;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 0;

				background-color: var(--color-primary);

				transition: width 0.5s ease;
			}

			&:hover {
				&:after {
					width: 100%;
				}
			}
		}
	}
}
