.navbar--mobile {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;

	.navbar__buttons {
		width: 100%;
		padding: 1rem 2rem;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.navbar__icon {
		fill: var(--color-grey-light-1);
		height: 3.5rem;
		width: 3.5rem;
		transition: color 0.2s ease, transform 0.3s ease;

		&:hover {
			color: var(--color-primary);
		}
	}

	.navbar__item {
		position: relative;
		overflow: hidden;

		display: flex;
		align-items: center;
		justify-content: center;

		color: var(--color-grey-light-1);
		font-size: 2rem;
		font-weight: bold;

		transition: height 0.3s, opacity 0.1s;
	}

	&.hidden {
		.navbar__item {
			height: 0;
			opacity: 0;
		}
	}

	&:not(.hidden) {
		.navbar__icon {
			transform: rotate(-90deg);
		}

		.navbar__list {
			display: flex;
			flex-direction: column;
			align-items: stretch;
		}

		.navbar__item {
			height: 5rem;
			border-bottom: 1px solid var(--color-navbar-border);

			span {
				position: relative;
				z-index: 4;

				display: block;
			}

			&:after {
				content: '';

				position: absolute;
				width: 0;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 3;

				background-color: var(--color-primary);

				transition: width 0.5s ease;
			}

			&:hover {
				&:after {
					width: 100%;
				}
			}
		}
	}
}
