// These styles are common between both the full size and mobile navbar
.navbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;

	z-index: 3; // Place above the rest of the content
	background-color: var(--color-navbar);
	transition: background 500ms ease-in-out;

	&__theme-switcher {
		width: 5rem;
		height: 5rem;
		border: 3px solid var(--color-primary);
		border-radius: 50%;

		background-color: var(--color-bg-1);
	}
}

.navbar--large {
	height: 80px; // Keep this at 80px, its used as an offset in jquery for scrolling
	padding: 1rem 3rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

	.navbar__icon {
		display: none;
	}

	.navbar__list {
		display: flex;
		transition: opacity 0.3s;
	}

	.navbar__item {
		cursor: pointer;

		padding: 15px 10px;
		position: relative;

		color: var(--color-grey-light-1);
		font-size: 1.6rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.2rem;

		transition: color 0.3s ease-out;

		&:not(:last-child) {
			margin-right: 3rem;
		}

		&:after {
			content: '';

			position: absolute;
			width: 0;
			height: 5px;
			left: 50%;
			bottom: 0;

			background-color: var(--color-primary);

			transition: width 0.3s ease 0s, left 0.3s ease 0s;
		}

		&.selected,
		&:hover {
			color: var(--color-primary);

			&:after {
				width: 100%;
				left: 0;
			}
		}
	}
}
