// These styles are common between both the full size and mobile navbar
.navbar {
	position: fixed;
	left: 3rem;
	top: 50%;
	transform: translateY(-50%);

	z-index: 3; // Place above the rest of the content

	display: flex;
	flex-direction: column;

	&__item {
		margin-bottom: 1rem;

		width: 6rem;
		height: 6rem;

		display: flex;
		justify-content: start;
		align-items: center;

		border: 1px solid var(--color-grey-dark-1);
		border-radius: 5px;
		background-color: var(--color-grey-dark-4);

		transition: all 0.3s ease;

		&:hover:not(.selected) {
			background-color: var(--color-primary);
			width: 15rem;
			border: 1px solid var(--color-grey-light-1);
		}

		&:hover:not(.selected) .navbar__name {
			width: 10rem;
			opacity: 1;
		}

		&.selected {
			border: 1px solid var(--color-grey-light-1);
		}

		&.selected .navbar__icon,
		&:hover .navbar__icon {
			stroke: var(--color-grey-light-1);
		}
	}

	&__icon {
		padding: 1.5rem;
		width: 6rem;
		height: 6rem;
		z-index: 5;

		stroke: var(--color-grey-dark-1);
	}

	&__name {
		opacity: 0;
		width: 0;
		font-size: 1.8rem;
	}

	&::after {
		content: '';

		position: absolute;
		top: 0;

		width: calc(6rem + 2px);
		height: calc(6rem + 2px);

		background-color: var(--color-primary);
		transition: top 0.3s linear;

		border: 1px solid var(--color-grey-light-1);
		border-radius: 5px;
	}

	&.home-selected::after {
		top: 0;
	}

	&.about-selected::after {
		top: 20%;
	}

	&.projects-selected::after {
		top: 40%;
	}

	&.skills-selected::after {
		top: 60%;
	}

	&.contact-selected::after {
		top: 80%;
	}
}
