@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
	@apply flex justify-center items-center;
}

@layer components {
	.btn-primary {
		@apply bg-primary hover:bg-primary-dark transition-colors
						h-20 w-max px-12 py-2 
						text-gray-1 font-bold text-3xl
						flex items-center justify-between cursor-pointer rounded-lg;
	}

	.header-circle {
		width: 60rem;
		height: 60rem;
		border-radius: 50%;
	}

	.header-circle.solved {
		animation: solved 3s linear 0s 1 normal forwards;
	}

	.picture-frame {
		width: 50rem;
		height: 50rem;
	}
}

@layer utilities {
	.clip-hexagon {
		clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	}

	.w-95p {
		width: 95%;
	}

	.h-95p {
		height: 95%;
	}

	.px-section {
		@apply px-16 sm:px-40 md:px-60 xl:px-80;
	}
}

@responsive {
	.w-200 {
		width: 50rem;
	}

	.w-120 {
		width: 30rem;
	}

	.h-200 {
		height: 50rem;
	}

	.h-120 {
		height: 30rem;
	}
}

@keyframes solved {
	0% {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@apply shadow-2xl opacity-75;

		width: 60rem;
		height: 60rem;
	}
	25% {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		@apply shadow-none opacity-100;
		width: 60rem;
		height: 60rem;
	}
	100% {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		@apply shadow-none opacity-100;
		width: 300rem;
		height: 300rem;
	}
}
