@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
	@apply flex justify-center items-center;
}

@layer components {
	.header-circle {
		width: 60rem;
		height: 60rem;
		border-radius: 50%;
		transition: background-color 2s linear, box-shadow 2s linear;
	}

	.picture-frame {
		width: 50rem;
		height: 50rem;
	}
}

@layer utilities {
	.clip-hexagon {
		clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	}

	.w-95p {
		width: 95%;
	}

	.h-95p {
		height: 95%;
	}
}

@responsive {
	.w-200 {
		width: 50rem;
	}

	.w-120 {
		width: 30rem;
	}

	.h-200 {
		height: 50rem;
	}

	.h-120 {
		height: 30rem;
	}
}
